.about{
    display: grid;
    /* grid-template-columns: auto auto; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 20px;
}
.try{
    display: flex;
    width: 50%;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    /* grid-column-start: 1; */
}
.tryme2{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: right;
    grid-column-start: 2;
    align-items: center;
}