.ad_div{
    text-align: center;
    /* padding: 10px; */
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    border: 2px solid red;
}
#ad_inner_div{
    /* display: flex; */
    /* flex-direction: row;     */
    /* height: 400px; */
    /* width: 100%; */
    /* gap: 20px; */
    justify-content: center;
    align-items: center;
    border:  2px solid black;

}
.mantine-Carousel-root{
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
    border: 2px solid green;
}
h1{
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
    padding-bottom: 20px;
}